<div>
    
<form name="form_add_form_of_payment" class="form_container" onsubmit="return submitFormOfPayment();">
        <div class="form_row">
            <input type="text" id="input_code_form_of_Payment" class="input_text" placeholder="Código" >
            <p id="message_code_form_of_payment" style="color:#d9534f;"></p>
        </div>
       <div class="form_row">
           <input 
           type="text" 
           id="input_description_form_of_Payment" 
           class="input_text" 
           placeholder="Descrição">
           <p id="message_description_form_of_payment" style="color: #d9534f;"></p>
       </div>
       <div class="form_row" style="text-align: end;">
           <button type="submit" id="input_submit_form_of_payment" class="btn_default">Enviar</button>
       </div>
    </form>
</div>