<div>
    <div class="table_header">
        <div class="col1">
            <h2>Formas De Pagamento</h2>
        </div>
        <div class="col2">
            <a 
                href="#" 
                class="btn_default" onclick="requestHtml('./src/views/FormOfPayment/AddFormOfPayment.html')">
                Adicionar
            </a>
        </div>
    </div>
    <div>
        <table>
           <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
           </thead>
           <tbody id="tableBody">
           </tbody>
        </table>
    </div>
</div>